<section class="record-items-section">
    <div class="record-items-container">
  
      <div class="asset-column">
        <h1>Assets:  ${{totalAssets}}</h1>
  
        <div class="record-items">
          <div *ngFor="let item of recordItems">
            <app-record-item-card
              *ngIf="item.amount >= 0"
              [item]="item"
              (xButtonClick)="onDeleteButtonClicked(item)"
              (cardClick)="onCardClicked(item)"
              style="display:block; margin-bottom: 20px"></app-record-item-card>
          </div>
        </div>
      </div>
  
  
      <div class="liabilities-column">
        <h1>Liabilities: ${{totalLiabilities}}</h1>
        
        <div class="record-items">
            <div *ngFor="let item of recordItems">
              <app-record-item-card
                *ngIf="item.amount < 0"
                [item]="item"
                (xButtonClick)="onDeleteButtonClicked(item)"
                (cardClick)="onCardClicked(item)"
                style="display:block; margin-bottom: 20px"></app-record-item-card>
            </div>
          </div>
      </div>
      
    </div>
  </section>
